@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "variables";

html, body {
	height: 100%;
	font-family: 'Helvetica', sans-serif;
}

.m10 {
	padding: $m10;
}
.url-clearfix {
	clear: both;
	overflow: hidden;
}

header {
	.navbar-inner {
		@include background-image(linear-gradient(left top, white, $gl)); 
	}
}

.loading {
	background: url('../img/ajax-loader.gif') no-repeat center center;
	min-height: 50px;
	clear: both;
	overflow: hidden;

	.thumbnail {
		margin-top: -1000px;
		@include transition-property(all);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-in);
	}
}

.wrapper {
	width: $width;
	margin: 0 auto;
	text-align: center;

	.search {
		.input-prepend {
			vertical-align: normal;
			margin: $m10/2;
		}
	}

	.thumbnail {
		@include background-image(linear-gradient(left top, white, $gl)); 
		text-align: left;
		border: none;
		border-bottom: 1px solid $gdl;
		margin-bottom: 2px;
		height: $iheight;

		a {
			color: $bd;
			@include single-text-shadow;
			&:hover {
				text-decoration: none;
			}
		}

		p, .title {
			padding-bottom: $m10;
		}
		.title {
			font-size: 1em;
			text-transform: uppercase;
			font-size: 1em;
			font-weight: bold;
		}
		.polaroid-wrapper {
			margin: $m10/2 2*$m10 $m10/2;
			height: 90%;
			text-align: center;
			border-right: 1px solid $gdl;
			img {
				height: 90%;
				@include transition-property(all);
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in);
			}
		}
		.publishedOn {
			padding-bottom: $m10;
		}
		.actionbar {
			a {
				padding-right: $m10;
				font-size: 0.9em;
			}
		}

		&.details {
			height: auto;
			.preview {
				max-height: 150px;
				margin-left: 0;
			}
			.polaroid-wrapper {
				margin: 0 !important;
				border-right: none !important;
				img {
					height: auto !important;
				}
			}
			.tags {
				margin-top: $m10;
			}
		}

		&.item:hover {
			@include background-image(linear-gradient(left top, white, $gd)); 
			@include transition-property(all);
			@include transition-duration(0.5s);
			border-bottom: 1px solid $gd;
			
			a {
				color: #FFF;
			}
			.polaroid-wrapper {
				border-right: 1px solid $gd;
				height: 100%;
				margin: 0 2*$m10 $m10/2;
				@include transition-property(all);
				@include transition-duration(0.1s);
				@include transition-timing-function(ease-in);
				img {
					margin-left: 3 * $m10;
					@include transition-property(all);
					@include transition-duration(0.2s);
					@include transition-timing-function(ease-in);
				}
			}
		}
	}
}

footer {
	padding: 2*$m10 0;
	margin-top: 2*$m10 !important;
	@include background-image(linear-gradient(left top, white, $gl)); 
	text-transform: uppercase;
	font-size: 0.8em;
	@include box-shadow(rgba(0,0,0,0.065) 0 1px 4px);
	@include border-radius(4px);
	border: 1px solid #d4d4d4;
	.copy {
		margin-right: $m10;
		small {
			font-size: 0.7em;
		}
	}
}
