<article class="thumbnail item url-clearfix">
	<a href="#flickr/{{fileName}}" title="{{title}}" class="pull-left span3 clearfix polaroid-wrapper">
		<img src="{{media.m}}" alt="" class="img-polaroid">
	</a>
	<div class="caption">
		<h4 class="title">
			<a href="#flickr/{{fileName}}" {{title}}>{{title_trunc}}</a>
		</h4>

		<p class="published" style="display:none">
			<small><b>Published: </b>{{published_formatted}}</small>	
		</p>

		<p class="actionbar">
			<a href="http://www.flickr.com/people/{{author_id}}" target="_blank">Photo author</a>
			<a class="published">
				<small><b>Published on: </b>{{published_formatted}}</small>	
			</a>
			<a href="{{link}}" target="_blank">View on Flickr</a>			
		</p>

	</div>
</article>